body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#graphInfo {
    width: 100%;
    text-align: right;
}

#refreshSpan {
    margin: 0 1em;
}

#timePeriods > a {
    margin: 0.5em;
}
